@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

.card {
  cursor: pointer;
}

.splide__slide img {
  height: 10rem;
}

.inicio-header {
  background-color: var(--light);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image:  url(../images/Turismo1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  margin-top: -10% !important;
  filter: opacity(100%);
  z-index: 1;
  clip-path: polygon(100% 0%, 0% 0% , 0% 97.142857142857%, 1% 97.142857142857%, 2% 97.142857142857%, 3% 97.047619047619%, 4% 96.952380952381%, 5% 96.857142857143%, 6% 96.761904761905%, 7% 96.666666666667%, 8% 96.47619047619%, 9% 96.380952380952%, 10% 96.190476190476%, 11% 96%, 12% 95.809523809524%, 13% 95.619047619048%, 14% 95.428571428571%, 15% 95.238095238095%, 16% 95.047619047619%, 17% 94.857142857143%, 18% 94.666666666667%, 19% 94.47619047619%, 20% 94.285714285714%, 21% 94.095238095238%, 22% 94%, 23% 93.809523809524%, 24% 93.714285714286%, 25% 93.619047619048%, 26% 93.52380952381%, 27% 93.428571428571%, 28% 93.333333333333%, 29% 93.333333333333%, 30% 93.333333333333%, 31% 93.333333333333%, 32% 93.333333333333%, 33% 93.428571428571%, 34% 93.52380952381%, 35% 93.619047619048%, 36% 93.714285714286%, 37% 93.809523809524%, 38% 94%, 39% 94.095238095238%, 40% 94.285714285714%, 41% 94.47619047619%, 42% 94.666666666667%, 43% 94.857142857143%, 44% 95.047619047619%, 45% 95.238095238095%, 46% 95.428571428571%, 47% 95.619047619048%, 48% 95.809523809524%, 49% 96%, 50% 96.190476190476%, 51% 96.380952380952%, 52% 96.571428571429%, 53% 96.666666666667%, 54% 96.761904761905%, 55% 96.857142857143%, 56% 96.952380952381%, 57% 97.047619047619%, 58% 97.142857142857%, 59% 97.142857142857%, 60% 97.142857142857%, 61% 97.142857142857%, 62% 97.047619047619%, 63% 97.047619047619%, 64% 96.952380952381%, 65% 96.857142857143%, 66% 96.761904761905%, 67% 96.666666666667%, 68% 96.47619047619%, 69% 96.285714285714%, 70% 96.190476190476%, 71% 96%, 72% 95.809523809524%, 73% 95.619047619048%, 74% 95.428571428571%, 75% 95.238095238095%, 76% 95.047619047619%, 77% 94.761904761905%, 78% 94.571428571429%, 79% 94.380952380952%, 80% 94.285714285714%, 81% 94.095238095238%, 82% 93.904761904762%, 83% 93.809523809524%, 84% 93.714285714286%, 85% 93.52380952381%, 86% 93.52380952381%, 87% 93.428571428571%, 88% 93.333333333333%, 89% 93.333333333333%, 90% 93.333333333333%, 91% 93.333333333333%, 92% 93.428571428571%, 93% 93.428571428571%, 94% 93.52380952381%, 95% 93.619047619048%, 96% 93.714285714286%, 97% 93.809523809524%, 98% 94%, 99% 94.190476190476%, 100% 94.285714285714%);
}

.form-floating > .form-control-plaintext ~ label,
.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-select ~ label {
  justify-content: start;
  flex-direction: row-reverse;
  column-gap: 2%;
}

.search-label {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
}

.form-floating {
  width: 20%;
}

@media screen and (max-width: 1300px) {
  .form-floating {
    width: 60%;
  }
}
@media screen and (max-width: 768px) {
  .form-floating {
    width: 60%;
  }
  .inicio-header {
    background-position: center;
  }

  h2 {
    font-size: 130% !important;
  }

  h3 {
    font-size: 150% !important;
  }
}

h2 {
  color: #2D97A1;
  font-size: 26px;
}

h1 {
  color: #d7e3d1;
  text-shadow: 2px 2px 2px #474747;
  font-family: 'Berkshire Swash', cursive;
  font-weight: 500;
  font-size: 200%;
  letter-spacing: 0.7px;
  padding-top: 30vw !important;
}
