.restaurante_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50vh;
  background-image: url(../images/restaurante\ \(1\).jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  margin-top: -10% !important;
  filter: opacity(100%);
  clip-path: polygon(100% 0%, 0% 0% , 0% 97.142857142857%, 1% 97.142857142857%, 2% 97.142857142857%, 3% 97.047619047619%, 4% 96.952380952381%, 5% 96.857142857143%, 6% 96.761904761905%, 7% 96.666666666667%, 8% 96.47619047619%, 9% 96.380952380952%, 10% 96.190476190476%, 11% 96%, 12% 95.809523809524%, 13% 95.619047619048%, 14% 95.428571428571%, 15% 95.238095238095%, 16% 95.047619047619%, 17% 94.857142857143%, 18% 94.666666666667%, 19% 94.47619047619%, 20% 94.285714285714%, 21% 94.095238095238%, 22% 94%, 23% 93.809523809524%, 24% 93.714285714286%, 25% 93.619047619048%, 26% 93.52380952381%, 27% 93.428571428571%, 28% 93.333333333333%, 29% 93.333333333333%, 30% 93.333333333333%, 31% 93.333333333333%, 32% 93.333333333333%, 33% 93.428571428571%, 34% 93.52380952381%, 35% 93.619047619048%, 36% 93.714285714286%, 37% 93.809523809524%, 38% 94%, 39% 94.095238095238%, 40% 94.285714285714%, 41% 94.47619047619%, 42% 94.666666666667%, 43% 94.857142857143%, 44% 95.047619047619%, 45% 95.238095238095%, 46% 95.428571428571%, 47% 95.619047619048%, 48% 95.809523809524%, 49% 96%, 50% 96.190476190476%, 51% 96.380952380952%, 52% 96.571428571429%, 53% 96.666666666667%, 54% 96.761904761905%, 55% 96.857142857143%, 56% 96.952380952381%, 57% 97.047619047619%, 58% 97.142857142857%, 59% 97.142857142857%, 60% 97.142857142857%, 61% 97.142857142857%, 62% 97.047619047619%, 63% 97.047619047619%, 64% 96.952380952381%, 65% 96.857142857143%, 66% 96.761904761905%, 67% 96.666666666667%, 68% 96.47619047619%, 69% 96.285714285714%, 70% 96.190476190476%, 71% 96%, 72% 95.809523809524%, 73% 95.619047619048%, 74% 95.428571428571%, 75% 95.238095238095%, 76% 95.047619047619%, 77% 94.761904761905%, 78% 94.571428571429%, 79% 94.380952380952%, 80% 94.285714285714%, 81% 94.095238095238%, 82% 93.904761904762%, 83% 93.809523809524%, 84% 93.714285714286%, 85% 93.52380952381%, 86% 93.52380952381%, 87% 93.428571428571%, 88% 93.333333333333%, 89% 93.333333333333%, 90% 93.333333333333%, 91% 93.333333333333%, 92% 93.428571428571%, 93% 93.428571428571%, 94% 93.52380952381%, 95% 93.619047619048%, 96% 93.714285714286%, 97% 93.809523809524%, 98% 94%, 99% 94.190476190476%, 100% 94.285714285714%);
}

.form {
  max-width: 750px;
  width: 100%;
}

input {
  height: 65px;
}

.local {
  max-width: 450px;
  width: 100%;
}

.date {
  max-width: 200px;
  width: 100%;
}

.btn_search {
  width: 60px !important;
  height: 50px !important;
  background-color: transparent;
}

.hoteis-body {
  margin: 5%;
  margin-top: 2.5rem;
  display: flex;
}

.hotel-image {
  height: 709px;
  margin-right: 3.9rem;
}

.hotel-image img {
  height: 100%;
  object-fit: fill;
  width: 100%;
  filter:opacity(60%);
}

.card {
  height: 100% !important;
}

.card-footer {
  background-color: var(--cyan);
  color: #fff;
}

#entretenimento .card {
  max-width: 400px;
  width: 100%;
}

.splide__slide .card .card-img {
  height: 185px;
}


h2 {
  margin-top: 5rem;
  color: #2d97a1;
  font-size: 2rem;
  font-weight: 900;
}

h3 {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  margin-top: 1rem;
  font-size: 35px;
  font-weight: 800;
  text-shadow: 2px 2px 2px #474747;
}


@media screen and (max-width: 768px) {
  .restaurante_header {
    background-position: center;
  }

  .form {
    flex-direction: column;
    row-gap: 1rem;
  }
}
